<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Spring Blog - Admin - Category Form</title>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" />
</head>
<body>
	
	<!-- Header -->
	<th:block th:replace="util :: headerAdmin"></th:block>
	
	<th:block th:replace="util :: userInfo"></th:block>
	
	<!-- Content -->
	<div id="content">
		<div class="container">
			
			<div th:with="baseUrl = '/admin/categories'" class="mt-5">
				<div class="row">
					<h2 class="col-10 mb-4 text-uppercase" th:text="#{heading.form.category}">Category Form</h2>
					<div class="col-2">
						<a class="btn btn-danger float-right" th:href="@{__${baseUrl}__}" th:text="#{keyword.back}">Back</a>
					</div>
				</div>
				
				<form th:object="${category}" th:action="@{__${baseUrl}__/save}" method="post">
					<div class="card bg-danger text-white p-2 mb-4" th:if="${#fields.hasErrors()}">
						<div class="text-center">
							<p class="mb-0" th:errors="*{name}"></p>
						</div>
					</div>
					<input type="hidden" th:field="*{id}" />
					<div class="form-row">
						<div class="form-group col-12">
							<label for="name" th:text="#{label.name} + '*'">Name*</label>
							<input type="text" class="form-control" id="name" th:field="*{name}" th:classappend="${#fields.hasErrors('name')} ? border-danger" />
						</div>
						<div class="form-group col-12">
							<input type="submit" class="btn btn-success float-right" th:value="#{keyword.save}" />
						</div>
					</div>
				</form>
			</div>
		
		</div>
	</div>
	
</body>
</html>